<header class="p-5 flex items-center justify-between">
  <div class="lg:flex lg:items-start lg:justify-start">
    <img src="../../assets/images/logo.svg" alt="logo" class="lg:mr-5">
    <nav class="navbar " [ngClass]="{'open' : isNavbarOpen}">
      <div>
        <button (click)="openFeature = !openFeature" class="flex items-center justify-start">Feature <img [src]="openFeature ?'../../assets/images/icon-arrow-down.svg' :'../../assets/images/icon-arrow-up.svg'" alt="" class="ml-2"></button>
        <ul class="mt-2 ml-3 lg:ml-0 lg:p-3 lg:shadow" *ngIf="openFeature">
          <li class="flex  items-center justify-start text-sm mb-2"><img src="../../assets/images/icon-todo.svg" alt="" class="mr-2">To Do </li >
          <li class="flex items-center justify-start text-sm mb-2"><img src="../../assets/images/icon-calendar.svg" alt="" class="mr-2">Calendar</li >
          <li class="flex items-center justify-start text-sm mb-2"><img src="../../assets/images/icon-reminders.svg" alt="" class="mr-2">Reminders</li >
          <li class="flex items-center justify-start text-sm mb-2"><img src="../../assets/images/icon-planning.svg" alt="" class="mr-2">Planing</li>
        </ul>
      </div>
      <div>
        <button (click)="openComapny = !openComapny" class="flex items-center justify-start">Company <img [src]="openComapny ?'../../assets/images/icon-arrow-down.svg' :'../../assets/images/icon-arrow-up.svg'" alt="" class="ml-2"></button>
        <ul class="mt-2 ml-3 lg:ml-0 lg:p-3 lg:shadow" *ngIf="openComapny " >
          <li class="flex  items-center justify-start text-sm mb-2">History</li >
          <li class="flex items-center justify-start text-sm mb-2">Our Team</li >
          <li class="flex items-center justify-start text-sm mb-2">Blog</li >
        </ul>
      </div>
      <div class="mb-2 lg:mb-0">
        <button>Career</button>
      </div>
      <div>
        <button>About</button>
      </div>
    </nav>
  </div>
  <div class="lg:hidden">
    <button (click)="handleAction()">
      <img [src]="isNavbarOpen  ? closeMenu : menuOpen" alt="" class="menuButtom">
    </button>
  </div>
  <div class="hidden lg:block" >
    <button class="mr-10 opacity-75">Login</button>
    <button class="border-2 border-black opacity-75 py-2 px-6 rounded-2xl ml-2 hover:">Sign Up</button>
  </div>
</header>

<section class="flex  flex-col-reverse py-20 md:grid md:gap-10 md:grid-cols-2 md:place-items-center max-w-4xl lg:max-w-5xl md:mx-auto">
  <article class="text-center md:text-left px-5 xl:px-0 mt-10">
    <h1 class="font-bold text-4xl lg:text-6xl xl:text-7xl mt-5">Make remote work</h1>
    <p class="mb-5"> Get your team in sync, no matter your location. Streamline processes,
      create team rituals, and watch productivity soar.</p>
      <button class="bg-black rounded-lg text-slate-300 font-bold hover:opacity-75 transition-all duration-150 pt-3 pb-2 py-2 px-8 cursor-pointer">Learn More</button>
      <ul class="grid grid-cols-4 gap-1 mt-10 place-items-center md:place-items-start">
        <li><img src="../../assets/images/client-databiz.svg" class="w-16 md:w-24"  alt=""></li>
        <li><img src="../../assets/images/client-audiophile.svg" class="w-16 md:w-24"  alt=""></li>
        <li><img src="../../assets/images/client-meet.svg" class="w-16 md:w-24"  alt=""></li>
        <li><img src="../../assets/images/client-maker.svg" class="w-16 md:w-24"  alt=""></li>
      </ul>
  </article>
  <article>
    <picture>
      <source media="(min-width:768px) " srcset="../../assets/images/image-hero-desktop.png" class="w-full"/>
      <img src="../../assets/images/image-hero-desktop.png" alt="" class="w-full">
    </picture>
  </article>
</section>
