<header class="p-5 flex items-center justify-between">
  <div>
    <img src="../../assets/images/logo.svg" alt="logo">
    <nav class="navbar ">
      <div>
        <button>Feature <img src="../../assets/images/icon-arrow-down.svg" alt=""></button>
      </div>
      <div>
        <button>Company <img src="../../assets/images/icon-arrow-down.svg" alt=""></button>
      </div>
      <div>
        <button>Career</button>
      </div>
      <div>
        <button>About</button>
      </div>
    </nav>
  </div>
  <div>
    <button>
      <img src="../../assets//images/icon-menu.svg" alt="">
    </button>
  </div>
  <div class="hidden lg:block" >
    <button>Login</button>
    <button>Sign Up</button>
  </div>
</header>

<section class="flex  flex-col-reverse py-20 md:grid md:gap-10 md:grid-cols-2 md:place-items-center max-w-4xl lg:max-w-5xl md:mx-auto">
  <article class="text-center md:text-left px-5 xl:px-0 mt-10">
    <h1 class="font-bold text-4xl lg:text-6xl xl:text-7xl mt-5">Make remote work</h1>
    <p class="mb-5"> Get your team in sync, no matter your location. Streamline processes,
      create team rituals, and watch productivity soar.</p>
      <button class="bg-black rounded-lg text-slate-300 font-bold hover:opacity-75 transition-all duration-150 pt-3 pb-2 py-2 px-8 cursor-pointer">Learn More</button>
      <ul class="grid grid-cols-4 gap-1 mt-10 place-items-center md:place-items-start">
        <li><img src="../../assets/images/client-databiz.svg" class="w-16 md:w-24"  alt=""></li>
        <li><img src="../../assets/images/client-audiophile.svg" class="w-16 md:w-24"  alt=""></li>
        <li><img src="../../assets/images/client-meet.svg" class="w-16 md:w-24"  alt=""></li>
        <li><img src="../../assets/images/client-maker.svg" class="w-16 md:w-24"  alt=""></li>
      </ul>
  </article>
  <article>
    <picture>
      <source media="(min-width:768px) " srcset="../../assets/images/image-hero-desktop.png" class="w-full"/>
      <img src="../../assets/images/image-hero-desktop.png" alt="" class="w-full">
    </picture>
  </article>
</section>
